@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;400&display=swap');

* {
	transition: 0.2s linear;
	font-family: 'Roboto', sans-serif;

}


body {
	background-color: #fff;
	margin: 0;
}

.createUser {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 100px;
	padding-right: 100px;
	margin: auto;
	margin-top: 50px;
	background-color: #fff;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color: #808080;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
}

.createUser img {
	width: 600px;
	width: 40%;
	min-width: 500px;
	/* object-fit: cover; */

}

.createUser .heading {
	/* text-align: center; */
	font-weight: 600;
	font-size: 38px;
	margin-bottom: 40px;
	color: #ff9960;
	font-family: 'Poppins', sans-serif;
}

.createUser .row {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	margin-bottom: 10px;
}

.createUser .row .input-item {
	margin: auto;
	flex: 1 1 200px;
}

.createUser .row p {
	padding: 0;
	margin-bottom: 6px;
}

.createUser .row .input-item input {
	width: 100%;
	height: 40px;
	color: #444;
	font-size: initial;
	padding: 6px 5px;
	border-radius: 4px;
	box-sizing: border-box;
	border: 1.5px solid var(--Border, #EAEAEA);
}

.createUser .row .input-item #password {
	padding-right: 40px;

}

.createUser .row .input-item input:focus {
	outline-color: rgb(0, 0, 0);
}

.createUser .row .role-item {
	margin: auto;
	flex: 1 1 100px;
}

.createUser .row .role-item select {
	/*	max-width: 200px;*/
	width: 100%;
	height: 40px;
	padding: 4px 5px;
	border-radius: 5px;
	border: 1.5px solid var(--Border, #EAEAEA);
	font-size: initial;
	color: #444;
	font-style: normal;
}

.createUser .btn {
	margin: 40px 0;
	padding-bottom: 2px;
	display: flex;
	gap: 46px;
	justify-content: flex-end;
}

.createUser .btn button {
	width: max-content;
	cursor: pointer;
	border: none;
	font-size: 16px;
	padding: 11px 24px;
	display: inline-flex;
	align-items: center;
	letter-spacing: 0.24px;
	border-radius: 5px;
}

.createUser .btn button:hover {
	opacity: 0.7;
}

.createUser .btn #btn-cancel {
	color: #808080;
	font-weight: 400;
	letter-spacing: 0.24px;
	background-color: #EAEAEA;
}

.createUser .btn #btn-submit {
	color: #FFF;
	font-weight: 700;
	background: #F48023;
}

.createUser .btn #btn-submit svg {
	margin-right: 12px;
}

.password-item {
	position: relative;
}

.password-item i {
	right: 10px;
	bottom: 10px;
	position: absolute;
	display: block;
}

.password-item .fa-eye {
	display: none;
}

.createUser .noteError {
	color: red;
}

@media (max-width: 850px) {
	.createUser {
		box-sizing: border-box;
		padding-right: 0;
		padding: 30px;
	}

	.createUser form {
		margin: 0 30px;
		position: absolute;
	}

	.createUser .heading {
		text-align: center;
	}

	.createUser #background {
		opacity: 0.2;
	}
}

@media (max-width: 500px) {
	.createUser {
		padding-top: 100px;
	}

	.createUser .heading {
		font-size: 32px;
		font-weight: 700;
	}

	.createUser form {
		top: -60px;
		left: 5px;

	}

	.createUser .row {
		gap: 8px;
	}

	.createUser {
		font-size: 16px;
	}

	.createUser .heading {
		margin-top: 200px;
	}

	.createUser #background {
		width: 100%;
		min-width: 375px;
		object-fit: cover;
	}
}