@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');

body {
    background-color: rgb(250, 250, 250);
}

* {
    box-sizing: border-box;
}

.login-form {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    font-family: Roboto;
}

.login {
    width: 380px;
}

.login h2 {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 1.2px;
    text-transform: capitalize;
}

.login p {
    font-size: 18px;
    text-align: left;
    font-weight: 300;
    line-height: 30px;
    /* 166.667% */
    letter-spacing: 0.9px;

}

.form-group {
    position: relative;
    margin-bottom: 17px;
}

.login label {
    font-weight: 300;
    font-size: 14px;
    position: absolute;
    color: gray;
    padding: 0 10px;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    letter-spacing: 0.04em;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.form-group input {
    width: 100%;
    height: 40px;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--Border, #EAEAEA);
    background: #FFF;
    border-radius: 5px;
    padding: 10px 10px 0 15px;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
}

.form-group input:focus+label,
.form-group input:valid+label {
    top: 9px;
    font-size: 9px;
    background-color: #fff;
}


#btn-login {
    font-size: 15px;
    margin-top: 13px;
    width: 100%;
    height: 40px;
    color: white;
    font-weight: 600;
    border: none;
    padding: 12px 0px 11px 0px;
    border-radius: 5px;
    background: var(--Primary-2, #F48023);
}

.login input:hover {
    border: 1.3px solid #f4783b;
}

#btn-login:hover {
    opacity: 0.5;
}

@media (max-width: 430px) {
    .login-form {
        padding: 20px;
    }
}