@charset "UTF-8";

/* Navbar menu */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.navbar {
	display: flex;
	padding: 20px 30px 10px;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	box-shadow: 0px 5px 15px rgb(69 67 96 / 10%);
	z-index: 1;
}

.navbar .logo {
	display: flex;
	align-items: center;
	margin-left: 20px;
	color: black;
	text-decoration: none;
}

.navbar .logo .logo-img {
	display: inline-block;
}

.navbar .logo h3 {
	display: inline-block;
}

.navbar-links {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-right: 50px;
}

.navbar-links ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 35px;
}

.navbar-links ul li {
	list-style-type: none;
	padding: 10px 25px;
	cursor: pointer;
	margin-right: 8px;
}

.navbar-links li a {
	text-decoration: none;
	color: black;
	font-size: 15px;
	font-weight: 550;
}

.navbar-links .navbar-icons {
	margin-right: 5px;
}

.navbar .user-icons {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 30px;
	cursor: pointer;
}

.user-icons .notice-icon {
	font-size: 16px;
	position: absolute;
	left: -35px;
	bottom: 8px;
}

.user-icons .notice-icon:hover {
	background: none;
	border-radius: 0;
	color: #f48023;
}


.navbar .user-icons>.personal-icon {
	width: 40px;
	height: 40px;
	object-fit: cover;
}

/* Dropdown menu */
.navbar .personal-icon,
.dropdown-header img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: block;
	margin: auto;
	object-fit: cover;
}

.user-icons .dropdown-menu {
	position: absolute;
	right: 10px;
	top: 50px;
	background-color: #fff;
	padding: 0px 20px 8px;
	border: 1px solid #ccccccd2;
	border-radius: 5px;
	display: none;
}

.user-icons .dropdown-menu li {
	font-weight: 400;
	padding-top: 14px;
	padding-bottom: 2px;
	list-style-type: none;
}

.user-icons .dropdown-menu li a {
	text-decoration: none;
	color: #000;
}

.dropdown-header {
	width: 100%;
	display: inline-flex;
	align-items: center;
}

.dropdown-header .dropdown-header-img {
	margin-right: 10px;
}

.dropdown-header-content h5 {
	font-weight: 500;
}

.dropdown-header .gmail {
	font-size: 12px;
}

.navbar-links .active {
	background-color: #f48023;
	border-radius: 5px;
}

.navbar-links .active a {
	color: #fff;
}

.navbar-links ul li:hover {
	background-color: #f48023;
	border-radius: 5px;
	color: #fff;
}

.navbar-links ul li:hover a {
	color: inherit;
}




.toggle-button {
	position: absolute;
	display: none;
	margin-left: 20px;
	cursor: pointer;
	top: 12px;
	left: 0px;
	padding: 5px 10px;
	border-radius: 5px;
	color: #555;
	border: 1px solid #ccc;
}

.toggle-button .menu-bar {
	text-align: left;
	font-size: 22px;
	/* color: #fff; */
}

.nav-input {
	display: none;
}

@media screen and (max-width: 1000px) {
	.navbar {
		flex-direction: column;
		align-items: flex-start;
		padding: 0;
		padding-bottom: 10px;
		padding-top: 15px;
	}

	.navbar-links {
		display: none;
		padding-bottom: 10px;
		position: absolute;
		top: 40px;
		left: 0;
		right: 0;
		background-color: #fff;
		margin-top: 15px;
		width: 100%;
		transition: 0.2s linear;
	}

	.navbar-links ul {
		width: 100%;
		flex-direction: column;
		margin-right: 0;
	}

	.navbar-links ul li {
		margin-right: 0;
		text-align: center;
		width: 100%;
		padding: 15px 0;
	}

	.navbar .user-icons {
		top: 35px;
	}

	.navbar .logo {
		display: flex;
		align-items: center;
		margin-left: 70px;

	}

	.navbar .logo h3 {
		text-decoration: none;
		color: black;
	}

	.toggle-button {
		display: block;
		/* margin-right: 10px; */
	}

	.nav-input:checked~.navbar-links {
		display: flex;
	}
}

@media screen and (max-width: 520px) {
	.navbar .logo h3 {
		visibility: hidden;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}