<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	id="WebApp_ID" version="5.0">


	<display-name>PointHubWebsite</display-name>
	<welcome-file-list>
		<welcome-file>questions</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>


	<servlet>
		<description></description>
		<display-name>SignUpController</display-name>
		<servlet-name>SignUpController</servlet-name>
		<servlet-class>controller.SignUpController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignUpController</servlet-name>
		<url-pattern>/SignUpController</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>LogInController</display-name>
		<servlet-name>LogInController</servlet-name>
		<servlet-class>controller.LogInController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogInController</servlet-name>
		<url-pattern>/LogInController</url-pattern>
	</servlet-mapping>


	<servlet>
		<description></description>
		<display-name>LogoutController</display-name>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>controller.LogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/log-out</url-pattern>
	</servlet-mapping>



	<servlet>
		<description></description>
		<display-name>CommentController</display-name>
		<servlet-name>CommentController</servlet-name>
		<servlet-class>controller.CommentController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommentController</servlet-name>
		<url-pattern>/create-comment</url-pattern>
		<url-pattern>/load-comment</url-pattern>
		<url-pattern>/show-replies</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>ReplyController</display-name>
		<servlet-name>ReplyController</servlet-name>
		<servlet-class>controller.ReplyController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReplyController</servlet-name>
		<url-pattern>/reply-comment</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>QuestionController</display-name>
		<servlet-name>QuestionController</servlet-name>
		<servlet-class>controller.QuestionController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuestionController</servlet-name>
		<url-pattern>/report-question</url-pattern>
		<url-pattern>/questions</url-pattern>
		<url-pattern>/create-question</url-pattern>
		<url-pattern>/question-detail</url-pattern>
		<url-pattern>/vote-question</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ReportController</display-name>
		<servlet-name>ReportController</servlet-name>
		<servlet-class>controller.ReportController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportController</servlet-name>
		<url-pattern>/question-reports</url-pattern>
	</servlet-mapping>
</web-app>